.hero.container {
	height: 620px;
	position: relative;
	overflow: hidden;
	background:#e2e8f0;
}
.sticky-header .sticky-inner {
  background:#eaeded;
  padding: 10px 20px;
}
.data-category-shields {
  background: url('../images/data-category-shields.png') no-repeat;
  background-size: 106px 20px;
  height:20px;
  width: 106px;
  display: inline-block;
}
.status-menu a {
  color:#323738;
  font-size: 14px;
  padding-left: 4px;
}
.status-menu a i {
  color:#C9D0D0;
  font-size: 10px;
}
.container {
	padding: 40px 50px;
}
h5,h2, h1 {
	font-family: 'Crete Round', serif;
}
h3,h4 {
  font-family: 'Roboto', sans-serif;
}
p {	
  font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color:rgba(54, 58, 59, 1);
}
.main-menu .active span {
	color: #323738;
}
.main-menu .active span i {
  color:#f4b95e;
}
.main-menu span:hover {
  color: #323738;
}
.main-menu span:hover i {
  color:#f4b95e;
}
.main-menu span {
	line-height: 18px;
	color: #828686;
	font-family: 'Roboto', sans-serif;
	vertical-align: top;
	font-weight: 100;
	letter-spacing: 1px;
}
.main-menu span i {
  font-size: 8px;
  line-height: 18px;
  vertical-align: top;
  margin-right: 4px;
}
.main-menu .columns:last-child i {
  transform: rotate(-90deg);
  margin:0 4px 0 0;
}
h1 {
	color: #323738;
  margin: 80px 0 30px;
  line-height: 60px
}
.hero p {
	color:#C9D0CF;
}
.mission h1,  .get-started h1 {
	color:#323738;
}
.logo-container .logo {
  background: url('../images/logo.png') no-repeat;
  background-size: 22px 22px;
  height:23px;
  width: 23px;
  display: inline-block;
}
.alt-logo {
  background: url('../images/user-capital-logo-big.png') no-repeat;
  background-size: 70px 43px;
  height:43px;
  width: 70px;
  display:block;
  margin:30px auto 0;
}
.logo-container span {
	display: inline-block;
	line-height: 21px;
	letter-spacing: 1px;
	vertical-align: top;
	font-size: 18px;
	margin:-3px 0 0 10px;
	font-weight: 800;
	color: #000;
}
.hero-content {
	padding-top:0px;
  display: block;
  overflow: hidden;
}
.hero-content form {
	margin-top:30px;
}
.hero-content form input {
  vertical-align: top;
  width: 350px;
}
.hero-content form button {
  margin-top:1px;
}
.grid-base {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  right: -378px;
  top: 364px;
  width: 1740px;
  height: 77px;
  transform: rotateX(70deg) rotateY(0deg) rotateZ(-50deg);
  -webkit-perspective: 100px;
  transform-style: preserve-3d;
}
.pawn {
  background: url('../images/pawn.png') no-repeat;
  background-size:480px 402px;
  height:402px;
  position: relative;
  width: 480px;
  margin:80px auto;
}
.grid-base div {
	height: 190px;
  width: 190px;
  border:1px solid #C9D0D0;
  text-align: center;
}
.grid-base div:nth-child(even) { 
}
.capital-grid i {
  font-size: 80px;
  line-height: 140px;
  color:#9EC7BF;
}
.capital-grid {
}
.capital-grid .column:nth-child(1) {
	h1
  rder:1px solid #EEC050;
}
.capital-grid .column:nth-child(2) {
	border:1px solid #9EC7BE;
}
.container.mission {
	height: auto;
  background:#fff;
	margin:00px 0;
}
.container.demo{
  padding: 0;
}
.container.how-it-works {
	height: 1200px;
	margin:0px 0;
  background:#323738;
	text-align: center;
}
.container.get-started {
	height: 600px;
	background:#F9B666;
	margin:0px 0;
}
.container.footer {
	height: 200px;
	margin:0px 0;
  background: #fff;
}
.section-content {
	padding:30px 0;
}
.mining-container {
  position: relative;
}
.fb-piece {
  background: url('../images/3d-fb-piece.png') no-repeat;
  background-size: 68px 132px;
  height:132px;
  width: 68px;
  position: absolute;
  z-index: 101;
  left: 1011px;
  top: 342px;
}
.amzn-piece {
  background: url('../images/3d-amzn-piece.png') no-repeat;
  background-size: 110px 120px;
  height:120px;
  width: 110px;
  position: absolute;
  z-index: 101;
  left: 1093px;
  top: 187px;

}
.lnkd-piece {
  background: url('../images/3d-lnkd-piece.png') no-repeat;
  background-size: 94px 110px;
  height:110px;
  width: 94px;
  position: absolute;
  z-index: 101;
  left: 931px;
  top: 526px;
}
.goog-piece {
  background: url('../images/3d-goog-piece.png') no-repeat;
  background-size: 114px 120px;
  height:120px;
  width: 114px;
  position: absolute;
  z-index: 101;
  left: 731px;
  top: 326px;
}
.apple-piece {
  background: url('../images/3d-appl-piece.png') no-repeat;
  background-size: 101px 130px;
  height:130px;
  width: 101px;
  position: absolute;
  z-index: 101;
  left: 431px;
  top: 426px;
}




