.project-logo-container {
  width:48px;
  height: 48px;
  overflow: hidden;
  display:inline-block;
  border-radius:10px;
}
.project-logo {
  background: url('../images/project-marks.png') no-repeat;
  background-size: 362px 100px;
  height:100px;
  width: 362px;
}
table span {
  display: block;
  font-weight: bold;
}
.project-logo-container.datacoup  {
}
.project-logo-container.datacoup  .project-logo{
  background-position: 0px 0px;
}
.project-logo-container.user-capital .project-logo{
  background-position: -52px -52px;
}
.project-logo-container.spectrometer .project-logo {
  background-position: -105px -52px;
}
.project-logo-container.users-united .project-logo{
  background-position: -209px -52px;
}
.project-logo-container.waveforme .project-logo {
  background-position: -157px -52px;
}
.project-logo-container.alta .project-logo {
  background-position: -262px 0px;
}
.project-logo-container.prsm .project-logo {
  background-position: -314px -52px;
}
#contact input, #contact textarea {
  display: block;
  width:100%;
}
.data-copywrite-mark {
  background: url('../images/data-copywrite-mark.png') no-repeat;
  background-size: 200px 200px;
  height:200px;
  width: 200px;
}
.shaka {
  background: url('../images/shaka.png') no-repeat;
  background-size: 100px 100px;
  height:100px;
  width: 100px;
  margin-bottom: 100px;
}





