body {
  background:#C9D0CF;
  padding: 2%;
  color: #838D8B; 
}
h5 {
  color:#fff;
}
.container {
  background:#363A3B;
}
.row {
  display: flex;
}
.inner-container {
  border:1px solid #454D4D;
  width:30%;
}
.content {
  padding: 30px;
}
.inner-container:nth-child(even) {
  width: 70%;
}
#user-sum {
  text-align: center;
}
.logo {
  background: url('../images/user-capital-logomark.png') no-repeat;
  background-size: 67px 40px;
  height:40px;
  width: 67px;
}
#user-sum .logo {
  margin:0 auto;
}
.dot-container {
  padding: 20px 30px 0;
  max-height: 60px;
  height: 60px;
  border-bottom:1px solid #454D4D;
}
.dot {
  background:#454D4D;
  display: inline-block;
  float: left;
  vertical-align: top;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  margin:4px 4px;
}
.dot.active {
  background: #9EC7BE;
}


